<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to("Bank App", root_path) %>

      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="#" class="">Investments</a>
        <ul class="dropdown">
          <li><%= link_to('Stocks', stocks_path) %></li>
          <li><a href="#">Dropdown Options</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#" class="">Banking</a>
        <ul class="dropdown">
          <li><a href="#">Dropdown Options</a></li>
        </ul>
      </li>
      <li><%= link_to('Locations', locations_path) %></li>
      <li><%= link_to('Users', users_path) %></li>


    </ul>


      <!--


    </ul> -->

    <ul class="right">
      <li><%= login_nav %></li>
    </ul>
  </section>
</nav>
<br>







<!--

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to('Home', root_path, :class => 'button tiny') %></li>
       <li><%= link_to('Users', users_path, :class => 'button tiny') %></li>
       <li><%= link_to('Stocks', stocks_path, :class => 'button tiny') %></li>
       <li><%= link_to('Locations', locations_path, :class => 'button tiny') %></li>

      </ul>
    </div>
    <h2 class='subheader'>Bank</h2>
  </div>
</div>
 -->